asgiref==3.11.1
brotli==1.2.0
dj-database-url==3.0.1
Django==4.2.29
django-crispy-forms==1.14.0
django-tables2==2.4.1
gunicorn==23.0.0
packaging==26.0
Pillow==9.2.0
psycopg2-binary==2.9.11
python-dotenv==1.2.1
sqlparse==0.5.5
typing_extensions==4.15.0
whitenoise==6.11.0
